<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>User Login</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Employee Manager</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login</h1>
            <form th:action="@{/user/login}" method="post">
                <div th:if="${param.error}">
                    <h4 style="color: red">You've entered the wrong credentials</h4>
                </div>
                <div class="form-group">
                    <label class="control-label" for="username"> Username: </label>
                    <input id="username" class="form-control" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password"> Password: </label>
                    <input id="password" class="form-control" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <button style="display: block; margin-left: auto; margin-right: auto;"
                            type="submit" class="btn btn-success">Log In</button>

                    <br>
                    <div style="margin: auto; text-align: center;">
                        <span>New user?
                            <a href="/" th:href="@{/user/registration}">Sign up here</a>
                        </span>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
</body>
</html>